.IssueNumber{
    color: grey;
}
.TagLine{
    display: flex;
}
.TagLine>span {
    color: grey;
    margin: auto 0;
    padding: 0 10px;
}
.StateIcon {
    vertical-align: super;
}
.OpenIcon {
    width: fit-content;
    padding: 5px 10px;
    color: white;
    background-color: green;
    border-radius: 2em;
    margin: 10px;
}
.CloseIcon {
    width: fit-content;
    padding: 5px 10px;
    background-color: red;
    border-radius: 2em;
    margin: 10px;
}
.IssueTitle {
    display: flex;
}
.CardContent {
    display: flex;
}
.BodyContent {
    flex: 4;
    word-break: break-all;
    white-space: break-spaces;
}
.Labels {
    flex: 1;
    margin: 0 20px;
}