.DetailContent {
    margin: 10px !important;
}
.DetailPaper {
    margin: 10px;
    padding: 10px;
    text-transform: capitalize;
}
.DetailAccordian {
    margin: 20px 0 !important;
}
.Loader {
    display: flex;
    justify-content: center;
    align-items: center;
}